.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 6px solid red; */
  }

  .modal-wrapper {
    /* border: 2px solid blue; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;
  }

  .modal {
    /* border: 4px solid green; */
    z-index: 100;
    background: #fff;
    position: relative;
    margin: auto;
    border-radius: 5px;
    max-width: 500px;
    width: 80%;
    height: 90%;
    padding: 1rem;
  }

.modal-header {
    /* border: 7px solid purple; */
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    font-size: 1.5rem;
  }

  .modal-close-button {
    /* border: 9px solid orange; */
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: 35%;
  }
  .modal-body{
    width: 100%;
    /* border: 9px solid pink; */
    margin: 30px auto;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-body input{
    height: 10vh;
    border: none;
    border-bottom: 1px solid #FCD3D7;
    outline: none;
  }
 .div-submit{
    width: 90%;
    height: 10%;
    margin: 20px auto;
  }
  #submit{
    width: 100%;
    height: 8vh;
    background-color: #2DB0BA;
    border-radius: 5px;
    /* margin: 20px auto; */
    border: none;
  }

  #loginNoAccount{
    color: #2DB0BA;
    text-decoration: underline;
    text-align: center;
    margin: 1rem 25%;
  }
  #loginNoAccount:hover{
    cursor: pointer;
  }